h1 {
    margin-bottom: 15px;
    font-size: 60px;
    text-align: center;
    color:rgb(232, 232, 242);
    background-color:rgb(0, 18, 69);
}
h2 {
    margin-bottom: 15px;
    font-size: 60px;
    text-align: center;
    color:rgb(5, 110, 9);
    background-color:rgb(0, 0, 0);
}
p {
    margin-bottom: 15px;
    font-size: 60px;
    text-align: center;
    color:rgb(224, 59, 48);
    background-color:rgb(2, 4, 11);
}
/* #main-bio {

} */
/* h1 {
    margin-bottom: 15px;
    font-size: 60px;
    text-align: center;
    color:rgb(232, 232, 242);
    background-color:rgb(0, 18, 69);
  }
h1 {
    margin-bottom: 15px;
    font-size: 60px;
    text-align: center;
    color:rgb(232, 232, 242);
    background-color:rgb(0, 18, 69);
  } */